<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <div class="title">
        <h1>URL SHORTENER MICROSERVICE PROJET FROM FREECODECAMP WITH GOLANG</h1>
    </div>
    <div class="explanation">
       <h2>An ERROR was occured: {{ . }}</h2>
       <p>please entrer the url following this pattern: https://www.website.com or http://www.website.com</p>
       <p><a href="http://localhost:8080">Go back to home</a></p>
    </div>
    <div class="footer">
        CODED AND DESINED BY: <a href="https://github.com/behouba" target="blank">K BEHOUBA MANASSE</a>
    </div>
</body>
</html>
